<p style="padding-top:90px"></p>
<div class="row" style="max-width: 100%;">
    <div class="col-sm-6 hero-container">
        <center>
            <div class="empowering-your-health">Empowering your Health Journey <span class="homepage-child"></span></div>
            <br>
            <div class="duet-xxlarge">A PCOS plan that follows you</div>
            <p style="padding-top:50px"></p>
            <div class="get-started-wrapper" style="width:fit-content;padding-left:20px;font-size:25px;">
                <div class="get-started">
                    Get Started
                </div>
            </div>
        </center>
    </div>
    <div class="col-sm-6">
        <img src="./Assets/public/mask-group@2x.png" width="100%"/>
    </div>
</div>