<center>
    <!--slide 1-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Caring doctor please!
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img src="./Assets/Image/people/sad.png"/>
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Menstrual Irregularities?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                PCOS?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>


    <!--slide 2-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Long waits, tired already?
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img src="./Assets/Image/people/thinking.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Endometriosis?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-tertiary-bg">

            <div class="left w-80">
                Fertility issues?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>

    <!-- slide 3-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Diets, too expensive?
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img src="./Assets/Image/people/upset.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Exercise, how?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                Work pressure?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>

    <!--slide 4>
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Caring doctor please!
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img style="max-width:100%" src="./Assets/Image/people/nonpreg-though.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Menstrual Irregularities?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                PCOS?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="medcare-text-center">
            <h4 class="medcare-primary-text">Need a good Gynac?</h4>
            <h5 class="medcare-fifth-text">We've got you covered !</h5>
        </div>
    </div>
    -->
    <!--slide 5-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Caring doctor please!
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img src="./Assets/Image/people/preg.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Unanswered doubts?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                PCOS?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>
    
    <!--slide 6-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                long waits, tired already?
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img style="max-width:100%" src="./Assets/Image/people/preg-though.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Endometriosis?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                Fertility issues?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>

    <!--slide 7-->
    <div class="teammed-slides">
        <p style="padding-top:100px"></p>
        <div class="callout-1 medcare-primary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Diets, too expensive?
            </div>
            <div style="clear:both"></div>
        </div>
        <center>
            <div class="medcare-think-card medcare-2-primary-bg">
                <img src="./Assets/Image/people/though.png" />
            </div>
        </center>
        <div class="callout-2 medcare-secondary-bg">
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div class="left w-80">
                Exercise, how?
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="callout-3 medcare-primary-bg">

            <div class="left w-80">
                Work pressure?
            </div>
            <div class="left w-20" style="padding-top:2px;">
                <div class="colorbox-black"></div>
            </div>
            <div style="clear:both"></div>
        </div>
        
    </div>

    <!--slide 8-->
    <div class="medcare-text-center a-bit-up">
        <h3 class="medcare-primary-text"><b>Your</b></h3>
        <h2 class="medcare-primary-text"><big><b>Personal Manager</b></big></h2>
        <h3 class="text-dark"><b>has got you covered</b></h3>
        <p style="font-size:10px;padding-left:5%;padding-right:5%;">
            
                From managing your health goals  to ensuring adherence to medical advice,
                they'll be by your side, empowering you to make informed decisions and achieve optimal
                well-being.
            
        </p>
    </div>
</center>

<p style="padding-top:0px"></p>
<center>
    <p style="padding-top:0px"></p>
    <a href="https://www.instamojo.com/@rishovmondal/l0e722145cb194bf4b756eba3e04e0565/" target="_blank">
        <button class="btn-medcare-waitlist-2" style="color:white;">
            <i class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;Subscribe @ <big>299</big>
        </button>    
    </a>
    

</center>
<p style="padding-top:30px"></p>
<script>
    var slideIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("teammed-slides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 2 seconds
    }
</script>