<p style="padding-top:100px"></p>
<center>
    <div class="row" style="max-width: 70%;">
        <div class="col-sm-6">
            <p style="padding-top:70px"></p>
            <div class="cover-third">
                <img src="./Assets/public/pexelskarolinagrabowska8005452-1@2x.png">
            </div>
            
        </div>
        <div class="col-sm-6">

            <span class="third-section">
                <span style="color: #0acca0;">This Program</span> is for you, if you are a
            </span>

            <div class="group-child3">
                <div class="lorem-ipsum-dolor-sit-amet-co-parent">
                    <div class="lorem-ipsum-dolor">
                        <img class="tick-square-icon" alt="" src="./Assets/public/tick-square.svg" />
                        Lorem ipsum dolor sit amet, consectetur
                        <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</b>
                        <span class="read-more">read more</span>
                    </div>
                </div>
            </div>
            <p style="padding-top:10px"></p>

            <div class="group-child2">
                <div class="lorem-ipsum-dolor-sit-amet-co-parent">
                    <div class="lorem-ipsum-dolor">
                        <img class="tick-square-icon" alt="" src="./Assets/public/tick-square.svg" />
                        Lorem ipsum dolor sit amet, consectetur
                        <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</b>
                        <span class="read-more">read more</span>
                    </div>
                </div>
            </div>
            <p style="padding-top:10px"></p>

            <div class="group-child1">
                <div class="lorem-ipsum-dolor-sit-amet-co-parent">
                    <div class="lorem-ipsum-dolor">
                        <img class="tick-square-icon" alt="" src="./Assets/public/tick-square.svg" />
                        Lorem ipsum dolor sit amet, consectetur
                        <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</b>
                        <span class="read-more">read more</span>
                    </div>
                </div>
            </div>
            <p style="padding-top:10px"></p>


        </div>
    </div>
</center>