<p id="features" style="padding-top:0px"></p>
<div class="medcare-super">
    <center>
        <h3>Unmatched support for a 
            <span class="medcare-primary-text">healthy </span>
            <span class="medcare-secondary-text">you</span>
        </h3> 
    </center>
    <p style="padding-top:30px"></p>
    <div class="row medcare-card-parent">
        <div class="col-sm-8 medcare-card-space">
            <div class="medcare-full-div medcare-primary-text medcare-quad-bg">
                <h4>Your <span class="text-dark">Personal Manager<big>.</big></span></h4>
                <p>
                    Efficient care coordination for your recovery.
                    <!--From appointment scheduling to medical records management, our patient managers have got you covered.-->
                </p>
                
                <img src="./Assets/Image/people/manager-new.png" />
                <div class="clear:both"></div>
                
            </div>
            <br>
        </div>
        <div class="col-sm-4 medcare-card-space">
            <div class="medcare-full-div medcare-2-quad-bg">
                <h4>24/7 Doctor <span class="text-dark">Support<big>.</big></span></h4>
                <p>
                    Unlimited chat with best gynaecologists in Tricity.
                </p>

                <img src="./Assets/Image/people/doctor-new.png" />
                <div class="clear:both"></div>

            </div>
            <br>
        </div>
    </div>
    <div class="row medcare-card-parent">
        <div class="col-sm-4 medcare-card-space">
            <div class="medcare-full-div medcare-primary-text medcare-2-tertiary-bg">
                <h4>Nutritionist <span class="text-dark">Support<big>.</big></span></h4>
                <p>
                    Expert nutrition guidance at your fingertips- Anytime, Anywhere.
                </p>
                
                <img src="./Assets/Image/people/nutritionist-new.png" class="third-child" />
                <div class="clear:both"></div>

            </div>
            <br>
        </div>
        <div class="col-sm-3 medcare-card-space">
            <div class="medcare-full-div medcare-2-quad-bg">
                <h4>Your <span class="text-dark">Buddy<big>.</big></span></h4>
                <p>
                    24/7 access to experienced therapist.
                </p>
                
                <img src="./Assets/Image/people/counsellor-new.png" />
                <div class="clear:both"></div>

            </div>
            <br>
        </div>
        <div class="col-sm-5 medcare-card-space">
            <div class="medcare-full-div medcare-2-secondary-bg">
                <h4>Exercise <span class="text-dark">Coach<big>.</big></span></h4>
                <p>
                    Transform your body with out 24/7 Exercise Coach Support.
                </p>
                
                <img src="./Assets/Image/people/coach-new.png" />
                <div class="clear:both"></div>

            </div>
            <br>
        </div>
    </div>
</div>