<p style="padding-top:100px"></p>
<center>
    <div class="row" style="max-width: 100%;padding-left: 10%;">

        <div class="col-sm-6">
            <div class="section-heading">Post-Program Transformations</div>
            <p style="padding-top:30px"></p>
            <div class="sec4-h">
                Changes you will see after the program
            </div>
            <p style="padding-top:30px"></p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id interdum dui mollis</span>
        </div>
        <div class="col-sm-6 habibi">
            <div class="another-up">
                <div class="slider-duet">
                    <div>
                        <center>
                            <h4>Transformation</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </center>
                    </div>
                </div>
            </div>
            
            <div class="another-up">
                <div class="slider-duet">
                    <div>
                        <center>
                            <h4>Transformation</h4>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </center>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</center>