
<div style="padding-left:25%;padding-right:25%;width: 100%;padding-top:100px">
    <div class="row">
        <div class="col-sm-6">
            <center>
                <div class="section-heading">Our Doctors</div>
                <p style="padding-top:23px"></p>
                <h2>Crafted By</h2>
                <h3>Dr. Pallavi Bansal</h3>
                <h6>Specialization</h6>
                <p style="padding-top:15px"></p>
                <div class="row">
                    <img style="width:25px" src="./Assets/public/image-10@2x.png"/>
                    <img style="width:25px" src="./Assets/public/image-10@2x.png"/>
                    <img style="width:25px" src="./Assets/public/image-10@2x.png"/>
                    
                    <div class="col-sm-6 section-heading" style="padding-top:4px;">
                       View all &#9654;
                    </div>
                </div>
            </center>
            
        </div>
        <div class="col-sm-6">
            <p style="padding-top:30px"></p>
            <img src="./Assets/public/group-15@2x.png" style="width: 100%;">
        </div>
        <div class="clear:both"></div>
    </div>
</div>