<p style="padding-top:100px"></p>

<div class="padding-left:20%;padding-right:20%;width:100%">
    <center>
        <div class="cont-fine">
            <div class="row">
                <div class="col-sm-4">
                    <img src="./Assets/public/rectangle-42001@2x.png" style="width:100%;border-radius:50%;" />
                </div>
                <div class="col-sm-8" style="padding-top:40px;">
                    <h2>What our users have to say?</h2>
                    <p style="padding-top:40px">

                        Euismod magna id purus eget nunc ligula suspendisse dui netus. Condimentum blandit rutrum at
                        mauris enim pulvinar duis etiam duis.
                        <p style="padding-top:20px"></p>
                        <big><b>Holly Davidson</b></big>

                    </p>
                </div>
            </div>
        </div>
    </center>
</div>
