<p style="padding-top:100px"></p>
<center>
    <div class="row" style="max-width: 80%;">
        <div class="col-sm-6">
            <div class="section-heading">Program Inclusions</div>
            <p style="padding-top:30px"></p>
            <div class="sec4-h">
                <b>What you will get in the program</b>
            </div>
            <p style="padding-top:30px"></p>
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id interdum dui mollis
            </h5>
        </div>
        <div class="col-sm-6">
            <img class="bg-s4" src="./Assets/public/sec4-bg.png">
            <div class="fr-s4">
                <img src="./Assets/public/image-67@2x.png" style="height: 300px;" />
            </div>
        </div>
    </div>
</center>