<div class="teammed-footer">
    <div class="logo">
        <img src="./Assets/Image/Logo/primary.png" />
    </div>
    <div style="clear:both"></div>
    <br>
    <div style="width:99%;padding-left:10px;padding-right:10px;" class="row teammed-40px-upper">
        <div class="col-sm-4">

            <h4>Contact us:</h4>

            <br>
            <br>
            <p>

                <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp; +91 7602786709<br>
                <i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;&nbsp; official@teammedcare.com<br>
                <i class="fa-solid fa-map-pin"></i>&nbsp;&nbsp;&nbsp; IISER Mohali

                <br>
                <br>
            <div class="sm-box-before">
                <div class="sm-box"><i class="fa-brands fa-facebook"></i></div>
                <div class="sm-box"><i class="fa-brands fa-instagram"></i></div>
                <div class="sm-box"><i class="fa-brands fa-youtube"></i></div>
                <div class="sm-box"><i class="fa-brands fa-twitter"></i></div>
                <div class="sm-box"><i class="fa-brands fa-tumblr"></i></div>
            </div>
            <br><br>
            </p>
            <br>
        </div>
        <div class="col-sm-4" id="contact">
            <h4>Drop us a message: </h4>
            <br>
            <div id="contact-f">
                <form action="./ajax/submit.php" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" required name="teammed-name" required id="name"
                            placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" required name="teammed-email" required id="email"
                            placeholder="Email address*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" required name="teammed-phone" required id="phone"
                            placeholder="Phone Number*">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="teammed-msg" placeholder="Your message" required
                            id="msg"></textarea>
                    </div>
                    <button class="btn btn-primary" onclick="formsubmit()">Submit</button>
                </form>
                <br>
                <br>
                <br>
            </div>

        </div>
        <div class="col-sm-4">
            <h4>Navigate Easily:</h4>
            <div><a href="https://teammedcare.com">Home</a></div>

            <div><a href="https://teammedcare.com/#features">Features</a></div>
            <div><a href="https://teammedcare.com/#waitlist">The 4 Steps you need</a></div>
            <div><a href="https://teammedcare.com/about">About</a></div>
            <div><a href="https://teammedcare.com/#testimonial">Testimonial</a></div>
            <div><a target="_blank"
                    href="https://www.instamojo.com/@rishovmondal/l0e722145cb194bf4b756eba3e04e0565/">Subscribe</a>
            </div>
        </div>
    </div>
    <br>
    <center>
        <p>&COPY; TeamMed Care (2022)</p>
    </center>
</div>

<!-- core  -->