<div class="nav-menu">
    <nav class="navbar navbar-expand-lg navbar-light" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="" href="#"><img src="./Assets/public/mask-group2.svg" style="width:100px" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link navigation-link" href="https://teammedcare.com">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-link" href="https://teammedcare.com/#features">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-link" href="https://teammedcare.com/#waitlist">Our Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-link" href="https://teammedcare.com/about">About</a>
                    </li>
                    <li class="nav-item">
                        <div class="get-started-wrapper">
                            <a class="get-started rounded ml-4"
                                href=""
                                target="_blank">
                                    Get Started
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<script src="./Assets/vendors/jquery/jquery-3.4.1.js"></script>
<script src="./Assets/vendors/bootstrap/bootstrap.bundle.js"></script>
<!-- bootstrap 3 affix -->
<script src="./Assets/vendors/bootstrap/bootstrap.affix.js"></script>

<!-- steller js -->
<script src="./Assets/js/steller.js"></script>